@import "tailwindcss";


:root {
  --primary: theme('colors.teal.600');
  --secondary: theme('colors.blue.700');
  /* --background: #bc5656; */
  --text-primary: #1a1a1a;
  --text-secondary: #4b5563;
  --surface: #f9fafb;
  --border: #e5e7eb;
}

/* Base styles */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-primary);
  /* background-color: var(--background); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}